# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Profiling
*.pclprof

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
.idea
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# VSCode project settings
.vscode/

# Rope project settings
.ropeproject

# mkdocs documentation
/site
mkdocs_github_authors.yaml

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# datasets and projects
datasets/
runs/
wandb/
tests/
.DS_Store

# Neural Network weights -----------------------------------------------------------------------------------------------
weights/
*.weights
*.pt
*.pb
*.onnx
*.engine
*.mlmodel
*.mlpackage
*.torchscript
*.tflite
*.h5
*_saved_model/
*_web_model/
*_openvino_model/
*_paddle_model/
pnnx*

# Autogenerated files for tests
/ultralytics/assets/
logs/coco_chile_dino_8class_10063659.err
logs/coco_chile_dino_8class_10063659.out
logs/Objects365_chile_dino_8class_10063637.err
logs/Objects365_chile_dino_8class_10063637.out
logs/Objects365_chile_dino_8class_10063638.err
logs/Objects365_chile_dino_8class_10063638.out
logs/Objects365_chile_dino_8class_10063639.err
logs/Objects365_chile_dino_8class_10063639.out
logs/Objects365_chile_dino_8class_10063640.err
logs/Objects365_chile_dino_8class_10063640.out
logs/Objects365_chile_dino_8class_10063641.err
logs/Objects365_chile_dino_8class_10063641.out
logs/Objects365_chile_dino_8class_10063642.err
logs/Objects365_chile_dino_8class_10063642.out
logs/Objects365_chile_dino_8class_10063649.err
logs/Objects365_chile_dino_8class_10063649.out
logs/Objects365_chile_dino_8class_10063650.err
logs/Objects365_chile_dino_8class_10063650.out
logs/Objects365_chile_dino_8class_10063662.err
logs/Objects365_chile_dino_8class_10063662.out
logs/Objects365_chile_dino_8class_10063669.err
logs/Objects365_chile_dino_8class_10063669.out
logs/yolov8l_coco_chile_7class_10065788.err
logs/yolov8l_coco_chile_7class_10065788.out
logs/yolov8m_coco_chile_7class_10065787.err
logs/yolov8m_coco_chile_7class_10065787.out
logs/cabin/yolov8l_coco_2class_10066554.err
logs/cabin/yolov8m_coco_2class_10066553.err
logs/cabin/yolov8x_coco_2class_10066555.err
logs/old/coco_chile_dino_8class_10063659.err
logs/old/coco_chile_dino_8class_10063659.out
logs/old/Objects365_chile_dino_8class_10063637.err
logs/old/Objects365_chile_dino_8class_10063637.out
logs/old/Objects365_chile_dino_8class_10063638.err
logs/old/Objects365_chile_dino_8class_10063638.out
logs/old/Objects365_chile_dino_8class_10063639.err
logs/old/Objects365_chile_dino_8class_10063639.out
logs/old/Objects365_chile_dino_8class_10063640.err
logs/old/Objects365_chile_dino_8class_10063640.out
logs/old/Objects365_chile_dino_8class_10063641.err
logs/old/Objects365_chile_dino_8class_10063641.out
logs/old/Objects365_chile_dino_8class_10063642.err
logs/old/Objects365_chile_dino_8class_10063642.out
logs/old/Objects365_chile_dino_8class_10063649.err
logs/old/Objects365_chile_dino_8class_10063649.out
logs/old/Objects365_chile_dino_8class_10063650.err
logs/old/Objects365_chile_dino_8class_10063650.out
logs/old/Objects365_chile_dino_8class_10063662.err
logs/old/Objects365_chile_dino_8class_10063662.out
logs/old/Objects365_chile_dino_8class_10063669.err
logs/old/Objects365_chile_dino_8class_10063669.out
logs/old/yolov8l_coco_chile_7class_10065788.err
logs/old/yolov8l_coco_chile_7class_10065788.out
logs/old/yolov8m_coco_chile_7class_10065787.err
logs/old/yolov8m_coco_chile_7class_10065787.out
logs/outdoor/yolov8l_coco_chile_7class_10066471.err
logs/outdoor/yolov8l_coco_chile_7class_10066485.err
logs/outdoor/yolov8l_coco_chile_7class_10066558.err
logs/outdoor/yolov8l_coco_chile_7class_10066563.err
logs/outdoor/yolov8l_coco_chile_7class_10066594.err
logs/outdoor/yolov8m_coco_chile_7class_10066435.err
logs/outdoor/yolov8m_coco_chile_7class_10066474.err
logs/outdoor/yolov8m_coco_chile_7class_10066484.err
logs/outdoor/yolov8m_coco_chile_7class_10066487.err
logs/outdoor/yolov8x_coco_chile_7class_10066436.err
logs/outdoor/yolov8x_coco_chile_7class_10066447.err
logs/outdoor/yolov8x_coco_chile_7class_10066473.err
logs/outdoor/yolov8x_coco_chile_7class_10066486.err
logs/outdoor/yolov8x_coco_chile_7class_10066557.err
logs/outdoor/yolov8x_coco_chile_7class_10066562.err
logs/outdoor/yolov8x_coco_chile_7class_10066593.err
logs/slurm/yolov8l_coco_2class_10066554.out
logs/slurm/yolov8l_coco_chile_7class_10066558.out
logs/slurm/yolov8l_coco_chile_7class_10066563.out
logs/slurm/yolov8l_coco_chile_7class_10066594.out
logs/slurm/yolov8m_coco_2class_10066553.out
logs/slurm/yolov8x_coco_2class_10066555.out
logs/slurm/yolov8x_coco_2class_10066556.out
logs/slurm/yolov8x_coco_chile_7class_10066557.out
logs/slurm/yolov8x_coco_chile_7class_10066562.out
logs/slurm/yolov8x_coco_chile_7class_10066593.out
